{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>
    <body>
        <!-- Navbar block  --> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}

        <!----Hero Section--->>
        <section>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Fluid jumbotron</h1>
                  <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
              </div>
        </section>
        <!-- Content block -->
        {% block content %}

        {% endblock%}
    </body>
</html>

