{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <section>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
    </section>
    <div class="container">
        <!-- Tech News Section  -->
        <hr>
        <h3 class="bg-dark"> Technology </h3>
        <hr>
        {{ macro.displaySourceList(technology_sources)}}

        <!-- Entertainment News Section  -->
        <hr>
        <h3 class="bg-dark"> Entertainment </h3>
        <hr>
        {{ macro.displaySourceList(entertainment_sources)}}

        <!-- Business News Section  -->
        <hr>
        <h3 class="bg-dark"> Business</h3>
        <hr>
        {{ macro.displaySourceList(sources)}}

        <!-- Sports News Section  -->
        <hr>
        <h3 class="bg-dark"> Sports </h3>
        <hr>
        {{ macro.displaySourceList(sports_sources)}}
    </div>
{% endblock %}