{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <section>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <form class="float-right form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" name="article_query" placeholder="Search for an article">
                    <button value="Submit"  type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
                </form>
            <h1 class="display-4">Your News <span class="font-weight-bolder">Companion</span></h1>
            </div>
        </div>
    </section>
    <div class="container">
        <!-- Tech News Section  -->
        <hr>
        <h3 class="bg-dark" id="tech"> Technology </h3>
        <hr>
        {{ macro.displaySourceList(technology_sources)}}

        <!-- Entertainment News Section  -->
        <hr>
        <h3 class="bg-dark" id="ent"> Entertainment </h3>
        <hr>
        {{ macro.displaySourceList(entertainment_sources)}}

        <!-- Business News Section  -->
        <hr>
        <h3 class="bg-dark" id="bus"> Business</h3>
        <hr>
        {{ macro.displaySourceList(sources)}}

        <!-- Sports News Section  -->
        <hr>
        <h3 class="bg-dark" id="sport"> Sports </h3>
        <hr>
        {{ macro.displaySourceList(sports_sources)}}
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small text-white blue bg-dark">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/kelvin-daniel?tab=repositories"> newsHUB</a>
        </div>
    </footer>
{% endblock %}