{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
    <div class="container">
        <!-- Tech News Section  -->
        <h3> Technology </h3>
        <hr>
        {{ macro.displaySourceList(technology_sources)}}

        <!-- Entertainment News Section  -->
        <h3> Entertainment </h3>
        <hr>
        {{ macro.displaySourceList(entertainment_sources)}}

		<!-- Business News Section  -->
        <h3> Business</h3>
        <hr>
        {{ macro.displaySourceList(sources)}}

        <!-- Sports News Section  -->
        <h3> Sports </h3>
        <hr>
        {{ macro.displaySourceList(sports_sources)}}
    </div>
{% endblock %}