{% macro displaySourceList(source_list) %}
	{% for source_row in source_list |batch(3)%}
        <div class="row">
            {% for sources in source_row %}
	            <div class="col bg-white">
		            <div class="col w-100 m-2 p-2" style="box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 5px 0px, rgba(0, 0, 0, 0.2) 0px 2px 10px 0px; height: 250px; width: 300px;">
						<div class="card-head text-dark w-100">
							<a href="/sources/{{sources.id}}">
							    {{ sources.name}}</a>
						</div>
						<div class="card-body bg-light">
							<p>{{ sources.description |truncate(80)}}</p>
						</div>
						<div class="card-footer">
							<a href="/sources/{{sources.id}}" class="btn btn-sm float-left">Visit {{sources.name}}</a>
						</div>
					</div>
		        </div>
            {% endfor %}	
        </div>
    {% endfor %}
{% endmacro %}

{%macro displaySearchList(articles)%}
<div class="container">
    <h3>Top Headlines Matching your Search</h3>
    {% for article_row in articles | batch(4)%}
        <div class="row">
            {% for article in article_row %}
                <div class="col w-100">
                    <div class="card card-default p-2 m-2">
                    <a href="{{article.url}}" target="_blank">
                            <img src="{{article.image}}" alt="{{article.title}}" class="img-fluid" styles="height:300px; width:300px;"></a>
                            <div class="card-heading">
                                <h4><a href="{{article.url}}" class="card-header" target="_blank">{{article.title |truncate(35)}}</a></h4>
                                <div class="card-body"><p>{{article.description | truncate(60)}}</p></div>
                                <a href="{{article.url}}" target="_blank" class="btn btn-info btn-sm"> Read More</a>
                            </div>
                            <div class="footer">
                            Published : {{article.date}} 
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> 
    {% endfor %}
</div>
{%endmacro%}